version: '3.0'

services:

  nginx:
    container_name: nginx
    image: nginx
    ports:
      - 9090:80
    depends_on:
      - php
      - mysql
    volumes:
      - ./config/nginx/conf.d/default.nginx:/etc/nginx/conf.d/default.conf
      - ./html/:/var/www/html/
    networks:
      - backend

  php:
    container_name: php
    build:
      context: ./config/php
    volumes:
      - ./config/php/php.ini:/usr/local/etc/php/php.ini
      - ./html/:/var/www/html/
    networks:
      - backend

  mysql:
    container_name: mysql
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: wordpress
      MYSQL_USER: username
      MYSQL_PASSWORD: password
    networks:
      - backend

networks:
  backend:
    driver: bridge
volumes:
    data: